---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import TitleSection from "../components/TitleSection.astro";
import Banner from "../components/Banner.astro";
import SectionInfo from "../components/SectionInfo.astro";
import ImageWithText from "../components/ImageWithText.astro";
import ContactForm from "../components/ContactForm.astro";
import Preguntas from "../components/Preguntas.astro";
const devs = [
  {
    imagen: "/images/angel.jpg",
    nombreDev: "Angel AFL",
    descripcion: `TSU. Software Multiplataforma, especializado en desarrollo web y
        desarrollo de apps móviles android/ios`,
    tecnologias: [
      "/images/javascript.png",
      "/images/flutter.png",
      "/images/react.png",
      "/images/tailwindcss.png",
      "/images/astro.png",
      "/images/nodejs.png",
      "/images/laravel.png",
      "/images/mysql.png",
    ],
  },
  {
    imagen: "/images/cindi.jpg",
    nombreDev: "Cindi YPC",
    descripcion: `Ing. Software Multiplataforma, especializado en desarrollo web y
        desarrollo de apps móviles android/ios`,
    tecnologias: [
      "/images/typescript.png",
      "/images/firebase.png",
      "/images/react.png",
      "/images/tailwindcss.png",
    ],
  },
  {
    imagen: "/images/angel.jpg",
    nombreDev: "Angel AFL",
    descripcion: `Ing. Software Multiplataforma, especializado en desarrollo web y
        desarrollo de apps móviles android/ios`,
    tecnologias: [
      "/images/javascript.png",
      "/images/flutter.png",
      "/images/react.png",
      "/images/tailwindcss.png",
    ],
  },
  {
    imagen: "/images/angel.jpg",
    nombreDev: "Angel AFL",
    descripcion: `Ing. Software Multiplataforma, especializado en desarrollo web y
        desarrollo de apps móviles android/ios`,
    tecnologias: [
      "/images/javascript.png",
      "/images/flutter.png",
      "/images/react.png",
      "/images/tailwindcss.png",
    ],
  },
  {
    imagen: "/images/jesus.jpg",
    nombreDev: "Jesus MPE",
    descripcion: `Ing. Software Multiplataforma, especializado en desarrollo y optimizacion web con el manejo de errores en aplicacionese integracion de API' Ias`,
    tecnologias: [
      "/images/javascript.png",
      "/images/astro.png",
      "/images/zod.webp",
      "/images/laravel.png",
      "/images/tailwindcss.png",
      "/images/typescript.png",
    ],
  },
];
---

<Layout title="inicio">
  <Banner />
  <ImageWithText
    heading="Proyectos responsivos y multiplaforma"
    subheading="Computadoras, Tablets y Móviles"
    imagen="/images/image-with-text.jpg"
  />
  <TitleSection
    heading="Nuestro equipo"
    subheading="Conóce a nuestro equipo de desarrollo de software"
  />
  <div class="flex flex-wrap">
    {
      devs.map((item) => (
        <Card
          imagen={item.imagen}
          nombreDev={item.nombreDev}
          descripcion={item.descripcion}
          tecnologias={item.tecnologias}
        />
      ))
    }
  </div>

  <SectionInfo
    heading="Crea tu proyecto con nosotros"
    subheading=`Garantizamos eficiencia, escalabilidad, responsividad y transparencia a un
    precio justo, sea cual sea tu proyecto`
  />
  <Preguntas/>
  <ContactForm />
</Layout>
