---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Card from "../components/Card.astro";

const devs = [
  {
    imagen: "/images/angel.jpg",
    nombreDev: "Angel AFL",
    descripcion: `Ing. Software Multiplataforma, especializado en desarrollo web y
        desarrollo de apps móviles android/ios`,
    tecnologias: [
      "/images/javaScript.png",
      "/images/flutter.png",
      "/images/react.png",
      "/images/tailwindcss.png",
    ],
  },
  {
    imagen: "/images/angel.jpg",
    nombreDev: "Angel AFL",
    descripcion: `Ing. Software Multiplataforma, especializado en desarrollo web y
        desarrollo de apps móviles android/ios`,
    tecnologias: [
      "/images/javaScript.png",
      "/images/flutter.png",
      "/images/react.png",
      "/images/tailwindcss.png",
    ],
  },
  {
    imagen: "/images/angel.jpg",
    nombreDev: "Angel AFL",
    descripcion: `Ing. Software Multiplataforma, especializado en desarrollo web y
        desarrollo de apps móviles android/ios`,
    tecnologias: [
      "/images/javaScript.png",
      "/images/flutter.png",
      "/images/react.png",
      "/images/tailwindcss.png",
    ],
  },
  {
    imagen: "/images/angel.jpg",
    nombreDev: "Angel AFL",
    descripcion: `Ing. Software Multiplataforma, especializado en desarrollo web y
        desarrollo de apps móviles android/ios`,
    tecnologias: [
      "/images/javaScript.png",
      "/images/flutter.png",
      "/images/react.png",
      "/images/tailwindcss.png",
    ],
  },
  {
    imagen: "/images/angel.jpg",
    nombreDev: "Angel AFL",
    descripcion: `Ing. Software Multiplataforma, especializado en desarrollo web y
        desarrollo de apps móviles android/ios`,
    tecnologias: [
      "/images/javaScript.png",
      "/images/flutter.png",
      "/images/react.png",
      "/images/tailwindcss.png",
    ],
  },
];
---

<Layout title="inicio">
  <Header />
  <div class="flex flex-wrap">
    {
      devs.map((item) => (
        <Card
          imagen={item.imagen}
          nombreDev={item.nombreDev}
          descripcion={item.descripcion}
          tecnologias={item.tecnologias}
        />
      ))
    }
  </div>
</Layout>
