---
export interface Props {
  imagen?: string;
  nombreDev?: string;
  descripcion?: string;
  tecnologias?: string[];
}

const { imagen, nombreDev, descripcion, tecnologias = [] } = Astro.props;
---

<div class="shadow-lg p-6 w-72 lg:w-92 rounded-2xl mt-5 m-auto">
  <img class="m-auto rounded-4xl" src={imagen} alt="Card-dev" />
  <div class="mt-4">
    <h2 class="font-bold text-lg mb-2">{nombreDev}</h2>
    <p>{descripcion}</p>
    <div class="mt-2">
      <h3 class="font-bold text-lg mb-2">Tecnologías principales:</h3>
      <div class="flex flex-wrap gap-3">
        {
          tecnologias.map((tec, index) => (
            <img
              src={tec}
              alt={`tecnologia-${index + 1}`}
              width="48"
              height="48"
            />
          ))
        }
      </div>
    </div>
  </div>
</div>
