---

---

<footer
  class="md:flex p-8 pb-0 gap-8 justify-around items-start h-auto text-white bg-gradient-to-r from-pink-600 via-purple-700 to-blue-600"
>
  <div>
    <ul class="leading-8">
      <img src="https://placehold.co/60X60" alt="" />
      <li>Nombre de la empresa</li>
      <li>Dirección:</li>
      <li>Correo:</li>
      <li>Teléfono:</li>
    </ul>
  </div>
  <div>
    <ul class="leading-8">
      <li class="text-lg font-bold">Acerca de</li>
      <li>Nosotros</li>
      <li>Trabajos</li>
    </ul>
  </div>
  <div>
    <ul class="leading-8">
      <li class="text-lg font-bold">Políticas</li>
      <li>Términos y condiciones</li>
      <li>Política de privacidad</li>
    </ul>
  </div>
  <div>
    <ul class="leading-8">
      <li class="text-lg font-bold">Ayuda</li>
      <li>Preguntas frecuentes</li>
      <li>Contácto</li>
    </ul>
  </div>
  <div>
    <ul class="leading-8">
      <li class="text-lg font-bold">Redes sociales</li>
      <div class="flex gap-4 mt-4">
        <li><img src="/images/facebook.png" alt="" /></li>
        <li><img src="/images/instagram.png" alt="" /></li>
        <li><img src="/images/tiktok.png" alt="" /></li>
        <li><img src="/images/whatsapp.png" alt="" /></li>
      </div>
    </ul>
  </div>
</footer>
<div
  class="md:flex leading-16 py-0 p-4 justify-around items-center text-white bg-gradient-to-r from-pink-600 via-purple-700 to-blue-600"
>
  <p>Todos los derechos reservados @2025</p>
  <ul class="flex gap-4">
    <li><img src="/images/debitcard.png" alt="" width="48" height="48" /></li>
    <li>
      <img src="/images/transferencia.png" alt="" width="48" height="48" />
    </li>
    <li>
      <img src="/images/mercado-pago.png" alt="" width="48" height="48" />
    </li>
  </ul>
</div>
